<!DOCTYPE html>
<html>
  <head>
    <title>JobPostr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="navbar">
      <%= link_to "Jobs List", jobs_path %>
      <%= link_to "New Job", new_job_path %>
    </div>
    <div id="flash_container">
      <% flash.each do |key, message| %>
      <div class="flash <%= key %>">
        <%= message %>
      </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
